src/com/xsdFile/emp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/emp" xmlns="http://www.example.org/emp" elementFormDefault="qualified">
<xs:element name="emp">
<xs:complexType>
<xs:sequence>
<xs:element name="eid" type="xs:int"/>
<xs:element name="ename" type="xs:string"/>
<xs:element name="sal" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>